<div class='text-center'>
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  {{#if logged_in}}
    {{#if comments.length}}
          <div class='comment-list'>
      {{#each comments as |comment|}}
        <div class='row mb-5 comment'>
          <div class='col-md-5'>
            <p>
              {{comment.description}}
            </p>
            <p>Created by
              {{comment.user.name}}
              on
              {{format_date comment.date_created}}</p>
          </div>
            {{#if (ifUser comment.user_id  ../logged_id)}}
            {{#if (ifUser ../comment_id comment.id)}}
            <div class='col-md-4'>
                <button
                class='btn btn-sm btn-danger'
                comment-id='{{id}}'
                blog-id='{{../id}}'
                >DELETE</button>
                <button
                class='btn btn-sm btn-primary cancel-button'
                cancel-id='{{id}}'
                blog-id='{{../id}}'
                >CANCEL</button>
        <form class='form'>
          <div class='form-group'>
            <label for='comment-desc'>Update Comment:</label>
            <textarea class='form-input'  id='comment-desc' name='comment-desc'>{{comment.description}}</textarea>
          </div>
          <div class='form-group'>
            <button type='submit' class='btn btn-primary update-comment-form' blog-id='{{../id}}' update-id='{{comment.id}}'>UPDATE</button>
          </div>
        </form>
            </div>
            {{/if}}
            {{/if}}
        </div>
      {{/each}}
      </div>
<div class='row mt-4'>
    {{/if}}
    {{else}}
    <p>
      {{#if comments.length}}
      <div class='comment-list'>
        {{#each comments as |comment|}}
          <div class='row mb-4 comment'>
            <div class='col-md-5'>
              <h2>
                {{comment.description}}
              </h2>
              <p>Created by
                {{comment.user.name}}
                on
                {{format_date comment.date_created}}</p>
            </div>
          </div>
        {{/each}}
        </div>
      {{/if}}
    </p>
  {{/if}}
</div>

<script src='/js/comment.js'></script>